
.mapbox-control-venues-list {
    &-root {
      list-style: none;
      display: none;
      bottom: 35px;
      left:35px;
      position: absolute;
      height: 300px;
      overflow:scroll;
      z-index: 1;
      overflow: auto;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 1px 2px 0 rgba(114, 114, 114, 0.869), 0 1px 2px 0 rgba(114, 114, 114, 0.869),
    }

    &-style{
      display: block;
      list-style: none;
      padding-left: 0
    }
    
    &-item {
      padding: 8px;
    }
  }
  