.mapbox-control-map-tiles-tooltip {
  &-root {
    width: fit-content;
    height: fit-content;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    display: none;
    position: fixed;
    z-index: 1;
    left: 50px;
    top: 10px;
    overflow: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  &-content {
    position: relative;
    margin: auto;
    padding: 0;
    display: flex;
  }
  &-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-button {
    height: 29px;
    width: 29px;
    padding: 0px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 7px;
    margin-right: 7px;
  }
  &-button-description {
    font-size: 11px;
    margin: 0px;
  }
}
